<p>
  <strong>Content:</strong>
  <%= @picture.content %>
  <strong>User:</strong>
  <%= @picture.user.name %>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url, class:"sized" %>
</p>
<%= link_to 'Edit', edit_picture_path(@picture.id) %>
<%= link_to 'Back', pictures_path %>
